* {
  font-size: 18px;
  font-family: Source Han Sans JP;
}

window#waybar {
  background: rgba(0, 0, 0, 0);
  /* background: rgba(36, 40, 59, .7); */
  color: #fdf6e3;
}

.modules-left,
.modules-center,
#clock-colapsed,
#hardware {
  background: #24283b;
  padding: 0 15px;
  margin: 5px 0px 0px 10px;
  border-radius: 15px;
  border: 2px solid #f7768e;
}

#workspaces button {
  padding: 0 2px;
  color: #fdf6e3;
}
#workspaces button.focused {
  color: #268bd2;
}
#workspaces button:hover {
  box-shadow: inherit;
  text-shadow: inherit;
}
#workspaces button:hover {
  background: #1a1a1a;
  border: #1a1a1a;
  padding: 0 3px;
}
#workspace button:active {
  background: #1bbb1a;
}

#pulseaudio {
  color: #268bd2;
}
#memory {
  color: #2aa198;
}
#cpu {
  color: #6c71c4;
}
#battery {
  color: #859900;
}
#disk {
  color: #b58900;
}

#clock,
#pulseaudio,
#memory,
#cpu,
#battery,
#disk {
  padding: 0 10px;
}

#power {
  padding-right: 10px;
}
#custom-lock,
#custom-reboot,
#custom-quit {
  padding: 0 8px;
}
